{% extends "base.html.twig" %}
{% block body %}
	{{ form(form)}}
		{# {{ form_start(form) }}
					{{ form_label(form.name) }}
					{{ form_widget(form.description) }}
					{{ form_label(form.price) }}
					{{ form_widget(form.photo_name) }}
					{{ form_widget(form.category)}}
					{{form_rest(form) }}
					<button type="submit">Enregistrer</button>
					{{ form_end(form) }} #}
	{% endblock %}
